name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: test
        channels: conda-forge
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        conda install -n test -q -y pip setuptools setuptools_scm
        conda install -n test -q -y -c conda-forge texlive-core
    - name: Conda information
      run: |
        conda info --all
        conda list -n test
    - name: Install psrqpy
      run: |
        python -m pip install -e .[test,docs] -vv --no-build-isolation
    - name: Run test suite
      run: |
        pytest --cov=psrqpy
    - name: Test building docs
      if: ${{ matrix.os == 'ubuntu-20.04' && matrix.python-version == '3.8' }} 
      run: |
        cd docs
        mkdir source/_static
        make html
        cd ..
    - name: Upload coverage to Codecov
      if: ${{ matrix.os == 'ubuntu-20.04' && matrix.python-version == '3.8' }} 
      uses: codecov/codecov-action@v2
      with:
        fail_ci_if_error: true
        verbose: true
        name: psrqpy

